.Wunschzettel.boltdata/
Service/bin/
Service/obj/
Service2/bin/
Service2/obj/
TestResults/
WcfService1/obj/
Wunschzettel/bin/
Wunschzettel/obj/
WunschzettelDatabaseAccess/bin/
WunschzettelDatabaseAccess/obj/
WunschzettelServer/bin/
WunschzettelServer/obj/
WunschzettelService/bin/WunschzettelService.dll
WunschzettelService/bin/
WunschzettelService/obj/
WunschzettelTests/bin/
WunschzettelTests/obj/
Core/bin/
Core/obj/
