<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
        <endpointBehaviors>
            <behavior name="restfullBehavior">
                <webHttp/>
            </behavior>
        </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
        <services>
            <service name="WunschzettelService">
                <endpoint address="rest" behaviorConfiguration="restfullBehavior" binding="webHttpBinding" contract="IWunschzettelService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
